<div class="tablet-horizontal">
  <button class="botao-fullscreen" (click)="toggleFullScreen()"><i class="fas fa-expand"></i></button>
  <div class="div">
      <div class="overlap">
          <p class="text-wrapper">Assinatura Digital</p>
          <div class="rectangle"></div>
      </div>
      <div class="overlap-group">
        <form class="example-form" [formGroup]="formulario">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nome</mat-label>
            <input type="text"
                   placeholder="Nome"
                   aria-label="Nome"
                   matInput
                   formControlName="NomeCracha"                   
                   [matAutocomplete]="auto" />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.NomeCracha}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
        <signature-pad class="text-wrapper-2" #signature 
          [options]="signaturePadOptions" 
          (drawStart)="drawStart($event)" 
          (drawEnd)="drawComplete($event)">
        </signature-pad>
      </div>
      <div class="frame" (click)="limpar()">
          <div class="text-wrapper-3">Limpar</div>
      </div>
      <div class="frame-2" (click)="enviar()">
          <div class="text-wrapper-3">Enviar</div>
      </div>
  </div>
</div>