.tablet-horizontal {
    background-color: darkgreen;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .tablet-horizontal .botao-fullscreen {
    background-color: darkgreen;
    width: 60px;
    height: 60px;
    margin: 8px 0 0 8px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .tablet-horizontal .div {
    background-color: darkgreen;
    overflow: hidden;
    width: 1440px;
    height: 713px;
    position: relative;
  }
  
  .tablet-horizontal .overlap {
    position: absolute;
    width: 680px;
    height: 228px;
    top: 100px;
    left: 220px;
  }
  
  .tablet-horizontal .text-wrapper {
    font-family: "IBM Plex Sans", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 55px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .tablet-horizontal .rectangle {
    position: absolute;
    width: 465px;
    height: 7px;
    top: 130px;
    left: 0;
    background-color: saddlebrown;
  }

  .tablet-horizontal .imagem {
    position: absolute;
    width: 200px;
    height: 206px;
    top: 459px;
    left: 10px;
    object-fit: cover;
  }
  
  .tablet-horizontal .overlap-group {
    position: absolute;
    top: 269px;
    left: 220px;
  }
  
  .tablet-horizontal .text-wrapper-2 {
    background-color: #f5f1eb;
  }
  
  .tablet-horizontal .frame {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 14px 50px;
    position: absolute;
    top: 590px;
    left: 540px;
    background-color: saddlebrown;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .tablet-horizontal .frame-2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 14px 50px;
    position: absolute;
    top: 590px;
    left: 740px;
    background-color: saddlebrown;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .tablet-horizontal .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "IBM Plex Sans", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
  }

  .tablet-horizontal .autocomplete {
    width: 100%;
    background-color: #f5f1eb;
  }
  
  .tablet-horizontal .label {
    font-size: 20px;
  }

  .tablet-horizontal .mat-input-element {
    font-size: 32px; /* tamanho da fonte */
    color: #333; /* cor do texto */
  }